*
!assets
!gettext-macros
!gettext-utils
!migrations
!plume-api
!plume-cli
!plume-common
!plume-front
!plume-models
!po
!rocket_csrf
!rocket_i18n
!src
!static
!templates
!build.rs
!Cargo.lock
!Cargo.toml
!diesel.toml
!rust-toolchain.toml
!rustfmt.toml
