@use crate::template_utils::*;
@use crate::routes::*;

@(ctx: BaseContext, pc: PostCard)

<div class="card h-entry">
    @if pc.post.cover_id.is_some() {
    <a class="cover-link" href="@uri!(posts::details(blog = &pc.blog_fqn, slug = &pc.post.slug, responding_to = _))">
      <div class="cover" style="background-image: url('@Html(pc.cover_url)')"></div>
    </a>
    }
    <header dir="auto">
        <h3 class="p-name">
            <a class="u-url" href="@uri!(posts::details(blog = &pc.blog_fqn, slug = &pc.post.slug, responding_to = _))">
                @pc.post.title
            </a>
        </h3>
        @if pc.is_author {
            <div class="controls">
                <a class="button" href="@uri!(posts::edit(blog = &pc.blog_fqn, slug = &pc.post.slug))">@i18n!(ctx.1, "Edit")</a>
            </div>
        }
    </header>
    <main>
        <p class="p-summary" dir="auto">@pc.post.subtitle</p>
    </main>
    <footer class="authors">
        <div>
            @Html(i18n!(ctx.1, "By {0}"; format!(
                "<a class=\"p-author h-card\" href=\"{}\">{}</a>",
                uri!(user::details(name = &pc.author.fqn)),
                escape(&pc.author.name())
            )))
            @if pc.post.published {
                ⋅ <span class="dt-published" datetime="@pc.post.creation_date.format("%F %T")">@pc.post.creation_date.format("%B %e, %Y")</span>
            }
            ⋅ <a href="@uri!(blogs::details(name = &pc.blog_fqn, page = _))">@pc.blog.title</a>
            ⋅
        </div>
        @if !pc.post.published {
            <div>⋅ @i18n!(ctx.1, "Draft")</div>
        } else {
            <div>
                <span class="likes" aria-label="@i18n!(ctx.1, "One like", "{0} likes"; pc.count_likes)" title="@i18n!(ctx.1, "One like", "{0} likes"; pc.count_likes)">
                    @icon!("heart") @pc.count_likes
                </span>
                ⋅
                <span class="reshares" aria-label="@i18n!(ctx.1, "One like", "{0} boost"; pc.count_reshares)" title="@i18n!(ctx.1, "One boost", "{0} boosts"; pc.count_reshares)">
                    @icon!("repeat") @pc.count_reshares
                </span>
            </div>
        }
    </footer>
</div>
